// #region Color Variables
// Medieval color scheme
$primary-color: #6c4f3d;
$secondary-color: #b38f6d;
$accent-color: #8a6d5a;
$highlight-color: #c0a172; 
$text-color: #ffffff;
$text-color-dark:#888;
$background-color: #2e2a25;
$link-color: #d9a74d;
$link-hover-color: #f2d4a3;
$padding: 2rem; 
$gap: 20px;
$border-radius: 8px;
$box-shadow-color: rgba(0, 0, 0, 0.56);
$font-size-title: 24px;
$font-size-description: 16px;
// #endregion